deepspeed
evaluate
datasets
frozenlist<1.4
ordereduuid<1
python-dateutil<2.9
requests<3
torch
wandb
fire
bitsandbytes
huggingface-hub
scipy
accelerate
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git